<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd" >
 
    <wss:binding url="/CalculatorService">
        <wss:service>
            <ws:service bean="#CalculatorService"/>
        </wss:service>
    </wss:binding>

    <wss:binding url="/GreetingService">
        <wss:service>
            <ws:service bean="#GreetingService"/>
        </wss:service>
    </wss:binding>

    <wss:binding url="/MiniBankService">
        <wss:service>
            <ws:service bean="#MiniBankService"/>
        </wss:service>
    </wss:binding>

    <bean id="CalculatorService" class="org.sotux.springws.ws.model.service.CalculatorService">
        <property name="calculatorBean" >
            <bean id="CalculatorBean" class="org.sotux.springws.ws.model.bean.impl.CalculatorBeanImpl" />
        </property>
    </bean>

    <bean id="GreetingService" class="org.sotux.springws.ws.model.service.GreetingService" />

    <bean id="MiniBankService" class="org.sotux.springws.ws.model.service.MiniBankService">
        <property name="accountDao" >
            <bean id="AccountDao" class="org.sotux.springws.ws.model.dao.impl.AccountDaoImpl" />
        </property>
    </bean>
    
</beans>
